{% block navigation %}
    <ul id="navMenu">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/list/activity">Aktivitäten</a></li>
        <li><a href="/list/player">Spieler</a></li>
        <li><a href="/list/location">Orte</a></li>
        <li><a href="/list/event">Events</a></li>
        <li><a href="/list/match">Runden</a></li>
        <li><a href="/list/score">Ergebnisse</a></li>
        <li><a href="/reset_test_data">Test-Daten zurücksetzen</a></li>
    </ul>
{% endblock %}