:root {
    --color-1: #003049;
    --color-2: #669bbc;
    --color-3: #fdf0d5;
    --color-4: #c1121f;
    --color-5: #780000;
}

#headerLogo {
    width: 100%;
    max-width: 529px;
    height: auto;
    max-height: 100px;
    object-fit: fill;
}

#navMenu {
    display: flex;
    padding-inline: inherit;
    margin-block: inherit;
    align-content: stretch;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
}

#navMenu li {
    display: block;
    flex: 1 max-content;
    margin: 1px;
    border: 1px solid var(--color-1);
}

#navMenu a {
    display: block;
    padding: 3px;
    text-decoration: none;
    background-color: var(--color-5);
    color: var(--color-3);
}

#navMenu a:hover {
    background-color: var(--color-1);
    color: var(--color-3);
}

#pageTitle {
    clear: left;
    margin: 10px;
}

#content {
    display: flex;
    align-content: stretch;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin: 9px;
}

#contentBox {
    display: flex;
    flex-flow: row wrap;
    flex: 1 content;
    max-width: max-content;
    padding: 5px;
    border: 2px solid var(--color-2);
    background: var(--color-3);
    margin: 1px;
}

#boxedHeader {
    flex: 100%;
}

#boxedContent {
    flex: 1 max-content;
}

label {
    font-size: larger;
}

select,
input[type=text],
input[type=number],
input[type=datetime-local] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: var(--color-3);
    background-color: var(--color-1);
}

select:focus,
input[type=text]:focus,
input[type=number]:focus,
input[type=datetime-local]:focus {
    color: var(--color-1);
    background-color: var(--color-3);
}

input,
button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: var(--color-3);
    background-color: var(--color-4);
}

table, th, td, caption {
    border: thin solid var(--color-1);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-width: thin 0 0 thin;
    margin: 0 0 1em;
    table-layout: auto;
    max-width: 100%;
}

th {
    font-weight: 700;
    text-align: left;
    color: var(--color-3);
    background-color: var(--color-4);
}

td {
    font-weight: normal;
    text-align: left;
    color: var(--color-1);
    background-color: var(--color-2);
}